extends layout

block content
	.container
		.jumbotron
			h1 Unnamed Application

			ul
				li It stores recipe (names)!
				li Maybe one day it will do more?

			a.btn.btn-default.btn-primary(href='/recipes') Search for recipes