doctype html
html
	- applictionName = 'Some Recipe App'
	block vars
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/scripts/jquery-2.1.0.min.js')
		script(src='/scripts/knockout-latest.js')
		script(src='/scripts/bootstrap.min.js')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#siteNavBar")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					if backLink
						a.navbar-brand(href=backLink)
							span.glyphicon.glyphicon-chevron-left
							|  
							= (backLinkText ? backLinkText : 'Back')
					else
						a.navbar-brand(href="/")= applictionName

				.collapse.navbar-collapse#siteNavBar
					block navbar
					ul.nav.navbar-nav.pull-right
						li: a(href='#') Your Account

		block content