@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);

@import './bootstrap/variables.less';

@headings-font-family: 'Open Sans', sans-serif;
@headings-font-weight: 300;

@border-radius-base: 0;

@import './bootstrap/bootstrap.less';
@import './bootstrap/theme.less';

body {
	padding-top: 70px; //navbar height + it's bottom margin
}

.navbar-brand {
	font-family: @headings-font-family;
	font-weight: @headings-font-weight;
}

.tag {
	.label();
	.label-primary();
}

.recipe {
	.panel-body();
	.box-shadow(0 6px 12px rgba(0,0,0,.175));
	border: 1px solid @gray-lighter;
}

.recipe-list {
	.recipe {
		margin-bottom: @line-height-computed;

		h2 {
			margin-top: 0;
		}
	}
}

.layout-sidebar {
	.row();

	.layout-sidebar-body {
		.make-sm-column(9);
		.make-md-column(10);
		
	}

	.layout-sidebar-sidebar {
		.make-sm-column(3);
		.make-md-column(2);
		
	}
}