@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);

@import './bootstrap/variables.less';

@headings-font-family: 'Open Sans', sans-serif;
@headings-font-weight: 300;

@border-radius-base: 0;

@import './bootstrap/bootstrap.less';


.navbar-brand {
	font-family: @headings-font-family;
	font-weight: @headings-font-weight;
}

.tag {
	.label();
	.label-primary();
}

.container.recipe {
	.box-shadow(0 6px 12px rgba(0,0,0,.175));
	border: 1px solid @gray-lighter;
}