extends ../layout

block vars
	- var backLink = '/users/login'
	- var backLinkText = 'Login'

block content
	.container
		h1
			= 'Create an Account'
		form(method="post")
			b='Name'
			input.form-control(name="name")
			b='Email'
			input.form-control(name="email")
			button.btn.btn-success.navbar-btn(type='submit')
				span.glyphicon.glyphicon-floppy-saved
				|  Save

	script
		:coffeescript
			$ ->
				$('button').click ->
					$('form').submit()