extends ../layout

block content
	.container
		
		h1
			= recipe.name
			small= ' by ' + recipe.author

		ul.ingredients
			for i in recipe.ingredients || []
				li= (i.volume || i.weight) + ' - ' + i.ingredient

		ol.instructions
			for i in recipe.instructions || []
				li= i
