extends ../layout

block vars
	- var backLink = '/recipes'
	- var backLinkText = 'Search Results'

block navbar
	ul.nav.navbar-nav
		li: a(href='#') Fork! :)

block scripts
	script(src='/recipeDetails.js')
	script.
		$(function() {
			viewModel.getData({ ref: '#{refId}' })
				.done(function() {
					ko.applyBindings(viewModel);
				});
		});

block content
	.container
		.layout-sidebar
			.layout-sidebar-body
				.recipe(data-bind="with: commit.data")
					h1(data-bind="text: name")

					h2 Ingredients
					ul.ingredients(data-bind="foreach: ingredients")
						li(data-bind="text: description")

					h2 Instructions
					ol.instructions(data-bind="foreach: steps")
						li(data-bind="text: body")
			.layout-sidebar-sidebar
				ul.nav.nav-pills.nav-stacked
					li.active: a(href='#') Recipe Details
					li: a(href='#', data-bind="click: edit, disable: editing") Edit

		pre(data-bind="text: JSON.stringify(commit, 1, '\t')")
	

