extends ../layout

block vars
	- var backLink = '/recipes'

block navbar
	ul.nav.navbar-nav
		li: a(href='#') Fake Link

block content
	.container
		.layout-sidebar
			.layout-sidebar-body
				.recipe
					h1
						= recipe.name
						small= ' by ' + recipe.author

					if recipe.tags
						for tag in recipe.tags
							span.tag= tag
							| 

					h2 Ingredients
					ul.ingredients
						if recipe.ingredients
							for i in recipe.ingredients
								li= (i.volume || i.weight) + ' - ' + i.ingredient

					h2 Instructions
					ol.instructions
						if recipe.instructions
							for i in recipe.instructions
								li= i
			.layout-sidebar-sidebar
				ul.nav.nav-pills.nav-stacked
					li.active: a(href='#') Recipe Details
					li: a(href='/recipes/edit/' + recipe.id) Edit

	

