extends ../layout

block vars
	- var backLink = '/recipes'
	- var backLinkText = 'Search Results'
	- var recipe = recipeCommit.data

block navbar
	ul.nav.navbar-nav
		li: a(href='#') Fork! :)

block content
	.container
		pre= JSON.stringify(recipeCommit, 1, '\t')

