extends ../layout

block content
	.container
		
		a.button.btn.btn-primary(href='/recipes/edit/' + recipe.id) Edit

		h1
			= recipe.name
			small= ' by ' + recipe.author

		= recipe.picture

		ul.ingredients
			for i in recipe.ingredients || []
				li= (i.volume || i.weight) + ' - ' + i.ingredient

		ol.instructions
			for i in recipe.instructions || []
				li= i
