extends ../layout

block content
	.container.recipe
		
		h1
			= recipe.name
			small= ' by ' + recipe.author

		if recipe.tags
			for tag in recipe.tags
				span.tag= tag
				| 

		h2 Ingredients
		ul.ingredients
			if recipe.ingredients
				for i in recipe.ingredients
					li= (i.volume || i.weight) + ' - ' + i.ingredient

		h2 Instructions
		ol.instructions
			if recipe.instructions
				for i in recipe.instructions
					li= i
