extends ../layout

block vars
	- var backLink = '/recipes/' + recipe.id
	- var backLinkText = recipe.name

block content
	.container
		form(method="post")
			input.form-control(name="name", value=recipe.name)
			button.btn.btn-success.navbar-btn(type='submit')
				span.glyphicon.glyphicon-floppy-saved
				|  Save

	script
		:coffeescript
			$ ->
				$('button').click ->
					$('form').submit()