extends ../layout

block navbar
	ul.nav.navbar-nav
		li: a(href='/recipes/create')
				span.glyphicon.glyphicon-cutlery
				|  Create new recipe

block content
	.container
		
		ul.list-group.recipe-list
			li.list-group-item
				h2: a(href='/recipes/sample') Sample Recipe
			for recipe in recipes
				li.list-group-item
					h2: a(href='/recipes/' + recipe.id)= recipe.name
					span.label.label-default tags
