extends ../layout

block content
	.container
		a.btn.btn-primary(href='/recipes/create') New Recipe


		ul
			li: a(href='/recipes/sample') See Sample Recipe
			for recipe in recipes
				li: a(href='/recipes/' + recipe.id)= recipe.name
